body{
	background-color: #262626;
}

#logo-container{
	width: 476px;
	height: 532px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	animation: slowLogoAnim 15s 0s infinite;
	transition: height 2s, width 2s, margin-top 2s;
}

#logoButton {
	width: inherit;
	height: inherit;
	background: none;
	border: none;
	z-index: -1;
}

#logo-container:hover {
	width: 317px;
	height: 354px;
	margin-top: 250px;
	transition: width 2s, height 2s, margin-top 2s;
}

#logoBottom {
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: auto;
	margin-bottom: auto;
}

#logoTop {
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: auto;
	margin-bottom: auto;
}

#logoButton:focus {
	outline: none;
}

h1{
	font: bold 180px Verdana, sans-serif;
	width: 100%;
	margin-top: 200px;
	margin-left: -1500px;
	text-align: center;
	color: 	#D3D3D3;
	/*text-shadow: 1px 1px 0px black,
	2px 2px 0px black,
	3px 3px 0px black,
	4px 4px 0px black,
	5px 5px 0px black,
	6px 6px 0px black,
	7px 7px 0px black,
	8px 8px 0px black,
	9px 9px 0px black,
	10px 10px 0px black;*/

	display: none;
}

#sidebar{
	height: 100%;
	width: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index = 1;
	display: none;
}

#top-icon{
	position: fixed;
	top: 0px;
	left: 20px;
	width: 4%;
	height: auto;
}

#discord-icon {
	position: fixed;
	left: 0.6%;
	bottom: 2%;
	width: 60px;
	height: auto;
}

@keyframes growSlow {
	from{width: 60px; left: 0.6%; bottom: 2%;}
	to{width: 70px; left: 0.3%; bottom: 1.5%;}
}

@keyframes shrinkSlowLogo {
	from{width: 40%;}
	to{width: 30%;}
}
@keyframes growSlowLogo {
	from{width: 30%;}
	to{width: 40%;}
}

@keyframes slowLogoAnim {
	25% {transform: rotate(7deg);}
	75% {transform: rotate(-7deg);}
	100% {transform: rotate(0deg);}
}

@keyframes unlockAnim {
	0% {transform: rotate(0deg);}
	55% {transform: rotate(360deg);}
	100% {transform: translateY(-80em)}
}

#discord-icon:hover {
	animation: growSlow 0.5s forwards;
}

#discord-icon:focus {
	outline: none;
}

